title = "Specification for Bibtex"

[article]
desc = "An article from a journal or magazine."
required = ["author", "title", "journal", "year"]
optional = ["volume", "number", "pages", "month", "note"]

[book]
desc = "A book with an explicit publisher"
required = [["author", "editor"], "title", "publisher", "year"]
optional = [["volume", "number"], "series", "address", "edition", "month", "note"]

[booklet]
desc = "A work that is printed and bound, but without a named publisher or sponsoring institution."
required = ["title"]
optional = ["author", "howpublished", "address", "month", "year", "note"]

[conference]
desc = "An article in a conference proceedings."
required = ["author", "title", "booktitle", "year"]
optional = ["editor", ["volume", "number"], "series", "pages", "address", "month", "organization", "publisher", "note"]

[inbook]
desc = "A part of a book, which may be a chapter (or section or whatever) and/or a range of pages."
required = [["author", "editor"], "title", ["chapter", "pages"], "publisher", "year"]
optional = [["volume", "number"], "series", "type", "address", "edition", "month", "note"]

[incollection]
desc = "A part of a book having its own title."
required = ["author", "title", "booktitle", "publisher", "year"]
optional = ["editor", ["volume", "number"], "series", "type", "chapter", "pages", "address", "edition", "month", "note"]

[inproceedings]
desc = "An article in a conference proceedings."
required = ["author", "title", "booktitle", "year"]
optional = ["editor", ["volume", "number"], "series", "pages", "address", "month", "organization", "publisher", "note"]

[manual]
desc = "Technical documentation."
required = ["title"]
optional = ["author", "organization", "address", "edition", "month", "year", "note"]

[mastersthesis]
desc = "A Master's thesis."
required = ["author", "title", "school", "year"]
optional = ["type", "address", "month", "note"]

[misc]
desc = "Use this type when nothing else ts."
required = []
optional = ["author", "title", "howpublished", "month", "year", "note"]

[phdthesis]
desc = "A PhD thesis."
required = ["author", "title", "school", "year"]
optional = ["type", "address", "month", "note"]

[proceedings]
desc =  "The proceedings of a conference."
required = ["title", "year"]
optional = ["editor", ["volume", "number"], "series", "address", "month", "organization", "publisher", "note"]

[techreport]
desc = "A report published by a school or other institution, usually numbered within a series."
required = ["author", "title", "institution", "year"]
optional = ["type", "number", "address", "month", "note"]

[unpublished]
desc = "A document having an author and title, but not formally published."
required = ["author", "title", "note"]
optional = ["month", "year"]
